{% load static %}
<html>
    <head>
        <title>Bulbapedia</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
      <div class="top-bar">
        <!-- "Fake target" that will prevent form from redirecting, it will let javascript do the job -->
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

        <form id="simple_search_form" target="dummyframe">
          <input id="search_query" type="text" placeholder="search here, use & to separate">
          <input type="submit" value="Search!">
        </form>

        <div id="s_results"></div>

        <a href="/"> Back to home </a> <br/><br/>
        <button class="open-button" onclick="OpenForm()"> Advanced Search </button>

        <form class="form-container" id="advanced_search_form" action="/" target="dummyframe">{% csrf_token %}
          {{form.as_p}}
          <button type="submit">Submit</button> <br/>
          <button type="button" onclick="CloseForm()"> Close </button> <br/>
          <a href="/advanced_search"> Advanced Search - separate page </a>

          <div id="a_results"></div>
        </form>
      </div>

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

      <script src="{% static 'js/base.js' %}"></script>

    </body>
</html>
