{% extends 'base.html' %}

{% block content %}
  <h1> {{ home.header }} </h1>

  <div class="text">
    {{ home.text }}
  </div>

  <form onsubmit="myFunction()" action="javascript:void(0);">
    <input id="search_query" type="text" placeholder="Search for some creature here!">
    <input type="submit" value="Search!">
  </form>

  <br/>

  <a href="/advanced_search"> Advanced search </a>

  <script>
    function myFunction(){
      window.location.href = "/search/" + document.getElementById("search_query").value;
    }
  </script>
{% endblock %}
